@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d9d9df;
  color: #030722;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin: 70px auto 130px auto;
  font-size: 34px;
  font-family: 'Poppins', sans-serif;
  color: rgb(44, 33, 33);
}

.searchWrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  .mainTable {
    margin: 10px 50px 0;
  }
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  td {
    padding: 12px;
    font-size: 18px;
    color: rgb(95, 44, 3);
    border-right: 1px solid rgb(248, 229, 206);
    border-bottom: 2px solid rgb(247, 215, 175);

  }
} 

.searchBar{
  position: relative;
}

.searchRes {
  position: absolute;
  left: -200px;
  top:20px;
}

.btnSave {
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: #fff;
  margin: 0 10px;
  min-width: 150px;
  padding: 12px;
  background-color: rgb(247, 150, 60);
  max-height: 50px!important;
  &:hover {
    background-color: rgb(240, 138, 42); 
  }
}